<li>
  <h4>
    by {{#url}}<a href="{{url}}">{{/url}}{{name}}{{#url}}</a>{{/url}},
    <span class="date">{{created_at}}</span>
  </h4>
  <img src="{{avatar}}" alt="{{name}}" class="gravatar" />
  <p>{{{html}}}</p>
</li>
