{{! Javascript libraries to be loaded - must be positioned last. Base include list for CouchDB listed in vendor\couchapp\_attachments\loader.js}}
<script src="/_utils/script/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="/_utils/script/json2.js" type="text/javascript" charset="utf-8"></script>
<script src="/_utils/script/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/_utils/script/jquery.couch.js" type="text/javascript" charset="utf-8"></script>
<script src="{{assets}}/vendor/couchapp/jquery.couch.app.js" type="text/javascript" charset="utf-8"></script>
<script src="{{assets}}/vendor/couchapp/jquery.couch.app.util.js" type="text/javascript" charset="utf-8"></script>
<script src="{{assets}}/vendor/couchapp/jquery.mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="{{assets}}/vendor/couchapp/jquery.evently.js" type="text/javascript" charset="utf-8"></script>
{{! Our application's library which is to be run on all templates}}
<script src="{{assets}}/scripts/app.js" type="text/javascript" charset="utf-8"></script>
